html, body {
  height: 100%;
}
main {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
main:after {
  content: "";
  display: block;
}
footer, main:after {
  height: 142px; 
}
footer {
  background: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #e7e7e7;

}


.dropdown-menu > .dropdown > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
@media all and (max-width: 979px) {
 

.dropdown-menu > .dropdown > .dropdown-menu {

  top: 0;
  left: 50%;
  margin-top: -6px;
  margin-left: -1px;
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
h1 {
	font-family: 'Sigmar One', cursive;
  font-size: 20px;
}
p {
	font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;

}
img {
   max-height: 400px;
}
address {
  margin-left: 2vw;
  margin-top: 10vh;


}

