//submenu dropdown positioning (toplevel dropdowns already look great!)
.dropdown-menu > .dropdown > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}

